**/target/
**/build/

# Re-include important properties inside ignored dirs
!**/src/main/**/target/db.properties
!**/src/test/**/target/token.properties
!**/src/main/**/build/db.properties
!**/src/main/resources/db.properties
!**/src/main/resources/token.properties
!**/src/test/**/build/token.properties
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
