# Ignore target and build directories
**/target/
**/build/

# Re-include paths to properties files
!**/src/main/
!**/src/test/
!**/src/main/resources/
!**/src/test/**/build/
!**/src/main/**/build/

!**/src/main/**/target/db.properties
!**/src/test/**/target/token.properties
!**/src/main/**/build/db.properties
!**/src/test/**/build/token.properties
!**/src/main/resources/db.properties
!**/src/main/resources/token.properties